<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-zinc-900">
        <div class="w-full min-h-full p-5 ">
            <div class="mb-5 px-2">
                <a href="/read" class="text-blue-400 mb-4 hover:text-white transition-colors">All Users</a>
            </div>

            <h1 class="text-3xl tracking-tighter mb-3 text-white">Update User</h1>
            <form action="/update/<%= user._id %>" method="POST" class="flex flex-col gap-4 max-w-md">
             <input value="<%= user.name %>" name = "name"type="text" placeholder="Enter your name" class=" rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-5 py-2 text-gray-300" />
             <input value="<%= user.email %>" name = "email"type="text" placeholder="Enter your Email" class="rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-5 py-2 text-gray-300" />
             <input value="<%= user.image %>" name = "image"type="text" placeholder="Enter your image url" class="rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-5 py-2 text-gray-300" />
             <input type="submit" value="Update user" class="rounded-md border border-gray-300 bg-yellow-300 hover:bg-yellow-500 text-white font-semibold cursor-pointer px-5 py-2" />
            </form>
        </div>
</body>
</html>
